<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunbei.dangkou.item.dao.mapper.interfaces.IItemDescrTempIdDaoMapper">
	<sql id="table">item_descr_temp_id</sql>

	<sql id="fileds">
        id
       ,numIid
	</sql>
	
	<resultMap type="ItemDescrTempId" id="resultItemTempIdMap">
	  <id property="id" column="id" />
	  <result property="numIid" column="numIid"/>
	</resultMap>

	
	<select id="findAll"  resultMap="resultItemTempIdMap">
	  select 
	    <include refid="fileds"/>
	  from 
	    <include refid="table"/>
	</select>
</mapper>

