<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunbei.dangkou.shopcart.dao.mapper.interfaces.IShopCartItemDaoMapper">
	<sql id="table">shop_cart_item</sql>

	<sql id="fileds">
		id
	   ,shopCartId
	   ,accountId
	   ,numIid
	   ,modified
	   ,isDelete
	   ,gmtCreated
	</sql>
	
	<resultMap type="ShopCartItem" id="resultShopCartItemMap">
	  <id property="id" column="id"/>
	  <result property="accountId" column="accountId"/>
	  <result property="shopCartId" column="shopCartId"/>
	  <result property="numIid" column="numIid"/>
	  <result property="modified" column="modified"/>
	</resultMap>
	
    <insert id="insert" parameterType="ShopCartItem" useGeneratedKeys="true" keyProperty="id">
		insert into
		<include refid="table" />
		(
		<include refid="fileds" />
		)
		values
		(null,#{shopCartId},#{accountId},#{numIid},#{modified},#{isDelete},now());
	</insert>
	
	<update id="update" parameterType="ShopCartItem">
	  update
	  <include refid="table"/>
	  <set>
		  <if test="isDelete!=null">isDelete=#{isDelete},</if>
		  <if test="modified!=null">modified=#{modified}</if>
	  </set>
	  where numIid=#{numIid}
	</update>
	
	<update id="updateBatch" parameterType="map">
	 update 
	 <include refid="table"/>
	 <set>
	   <if test="status!=null">isDelete=#{status}</if>
	 </set>	
	 where numIid in
	 <foreach collection="ids" index="index" item="i" open="(" separator="," close=")" >    
            #{i}    
      </foreach>  
	</update>
	
	
	<select id="findByAccount" parameterType="String" resultMap="resultShopCartItemMap">
	 select 
	 <include refid="fileds"/>
	 from 
	 <include refid="table"/>
	 where accountId=#{accountId} and isDelete!=1
	</select>
	
    <select id="findByNumIid" parameterType="Long" resultMap="resultShopCartItemMap">
	 select 
	 <include refid="fileds"/>
	 from 
	 <include refid="table"/>
	 where numIid=#{numIid}
	</select>
	
	<select id="countByAccount" parameterType="String" resultType="long">
	 select count(*) from 
	 <include refid="table"/>
	 where accountId=#{accountId} and isDelete=0
	</select>
	
</mapper>