<!DOCTYPE html>
<html>
	<head>
		<title>#{get 'title' /}</title>
		<meta charset="utf-8">
		<!--<meta charset="${_response_encoding}">-->
		<meta http-equiv="Cache-Control" content="max-age=86400" />
		<link href="../../public/stylesheet/css" rel="stylesheet" type="text/css">
		<link href="../../public/stylesheet/css(1)" rel="stylesheet" type="text/css">
		<link href="../../public/stylesheet/css(2)" rel="stylesheet" type="text/css">
		<link href="../../public/stylesheet/css(3)" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/themes.css">
		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/theme_style.css">
		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="../../public/stylesheets/prettyPhoto.css">
		
		<script type="text/javascript" src="../../public/javascripts/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../../public/javascripts/main.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.inputstext.js"></script>
		<script type="text/javascript" src="../../public/javascripts/jquery.easing.js"></script>
		<script type="text/javascript" src="../../public/javascripts/setting_themes.js"></script>
		#{get 'moreStyles' /}
	</head>
	<body>
		<div id="header">
	    	<div class="inner">
				<div class="block_top_navigation">
		        	<div class="col_1">
		            	<p>Call us now: 18768184429</p>
		            </div>
		        	<div class="col_2">
		            	<div class="block_social_top">
	                    	<p>Follow us:</p>
		                	<!--<a href="http://elephantweb.webglogic.com/index.html#" class="facebook">facebook</a>-->
		                </div>
		            </div>
	            </div>
	            <div class="line"></div>
	            <div class="block_mid">
		            <div id="logo">
		            	<img src="../../../public/images/twowow.png" style="position:relative;left:40px;" width="90%" alt="兔窝窝" title="兔窝窝"></a>
		            </div>
	
	                <div id="menu">
	                	<ul>
		                	<li><a href="http://115.29.47.18/" class="active">&nbsp&nbsp主页<span>homepage</span></a></li>
		                	<li><a href="">关于我们<span>our team</span></a></li>
		                	<li><a href="">我的订单<span>my order</span></a>
	                        	<ul>
	                            </ul>
	                        </li>
		                	<li><a href="">&nbsp购物车<span>&nbsp&nbspmy cart</span></a>
	                        	<ul>
	                            </ul>
	                        </li>
		                	<li><a href="">注册/登陆<span>&nbsp&nbsplogin in</span></a>
	                        	<ul>
	                            </ul>
	                        </li>
		                	<li><a href="">&nbsp联系我们<span>get in touch</span></a></li>
	                    </ul>
	                </div>
	            </div>
	            <div class="line"></div>
	        </div>
		</div>
		
		<div id="main-content" class="clearfix">
			#{doLayout /}
		</div>
		
	<div id="footer">
    	<div class="inner">
    		<div class="line"></div>
            <div class="block_footer">
            	<div id="logo_footer">
	            	<a href="./Application/index.html"><img src="./ElephantWeb_files/logo_f.jpg" alt="home" title="home"></a>
	            </div>
                <div class="block_copyrights">
                	<p>The ElephantWeb, Los Angeles</p>
					<p>tel: (489) 450-7821 email: info@elephant.com</p>
                </div>
                <div class="block_social_footer">
                    <p>Follow us:</p>
                </div>
            </div>
       	</div>
    </div>
	</body>
</html>
